@{
    ViewData["Title"] = "Alien Frontiers";
}

<h2>Alien Frontiers</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "AlienFrontiersGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Tech Cards", "Index", "Games", new { gamename = "AlienFrontiersTechCards" })</p>

<br /><br />

<p>@Html.ActionLink("Asteroid Cards", "Index", "Games", new { gamename = "AlienFrontiersAsteroidCards" })</p>

<br /><br />

<p>@Html.ActionLink("Agenda Cards", "Index", "Games", new { gamename = "AlienFrontiersAgendaCards" })</p>

<br /><br />

<p>@Html.ActionLink("Reference", "Index", "Games", new { gamename = "AlienFrontiersReference" })</p>

