@{
    ViewData["Title"] = "Space Alert";
}

<h2>Space Alert</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "SpaceAlertGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Internal Threats", "Index", "Games", new { gamename = "SpaceAlertInternalThreats" })</p>

<br /><br />

<p>@Html.ActionLink("External Threats", "Index", "Games", new { gamename = "SpaceAlertExternalThreats" })</p>

<br /><br />

<p>@Html.ActionLink("General Threat Guide", "Index", "Games", new { gamename = "SpaceAlertGeneralThreats" })</p>

<br /><br />

<p>@Html.ActionLink("Soundtrack", "Index", "Games", new { gamename = "SpaceAlertSoundtrack" })</p>

<br /><br />

<p>@Html.ActionLink("Training Missions", "Index", "Games", new { gamename = "SpaceAlertTrainingMissions" })</p>

<br /><br />

<p>@Html.ActionLink("Specializations", "Index", "Games", new { gamename = "SpaceAlertSpecializations" })</p>

