@{
    ViewData["Title"] = "Star Wars Rebellion";
}

<h2>Star Wars Rebellion</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "StarWarsRebellionGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Printer Friendly Maps", "Index", "Games", new { gamename = "StarWarsRebellionMaps" })</p>

<br /><br />

<p>@Html.ActionLink("Actions", "Index", "Games", new { gamename = "StarWarsRebellionActions" })</p>

<br /><br />

<p>@Html.ActionLink("Missions", "Index", "Games", new { gamename = "StarWarsRebellionMissions" })</p>

<br /><br />

<p>@Html.ActionLink("Objectives", "Index", "Games", new { gamename = "StarWarsRebellionObjectives" })</p>

<br /><br />

<p>@Html.ActionLink("Tactics", "Index", "Games", new { gamename = "StarWarsRebellionTactics" })</p>
